body {
    font-family:"Century Gothic";
    background: url(../../Assets/BG.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:azure;
}

h1 {
    font-weight:900;
    font-variant-caps:small-caps;   
}

#content{
    background: -webkit-linear-gradient(black,darkslategray); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black,darkslategray); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black,darkslategray); /* For Firefox 3.6 to 15 */
    background: linear-gradient(black,darkslategray); /* Standard syntax */
    z-index:-1;
    opacity:0.7;
    position:fixed;
    top:0px;
    bottom:0px;
    right:0px;
    left:0px;
}
